@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url('../IMAGES/Log-Background.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login-MainContent {
    width: 30%;
    height: 45vh;
    background-color: #ececec;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 2%;
    box-shadow: 
    0 5px 15px 0 rgba(0, 0, 0, 1)
}
.login-header{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-header h1{
    font-size: 40px;
    color: #033769;
}
.login-header h2{
    font-size: 23px;
    color: #033769;
}
.access-inputP{
    width: 100%;
    height: 70%;
}
.access-inputP form{
    width: 100%;
    height: 100%; 
}
.error .access-input input[type="password"] {
    border: 1px solid #ff0000;
}
.error .access-input input[type="password"]::placeholder {
    font-weight: 500;
    color: #ff0000;
    opacity: 1;
}
.access-input{
    width: 100%;
    height: 55%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.access-input input{
    width: 100%;
    height: 35%;
    color: black;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
}
.access-input input:focus{
    border-color: #098dda;
    box-shadow: 0 0 5px 1px rgb(9, 141, 218, 0.5);
    outline: none;
}
.access-input label{
    font-weight: 500;
}
.access-input span{
    color: #1177ff;
    font-weight: 600;
    font-size: large;
}
.btnsubmit{
    width: 100%;
    height: 40%;
    display: grid;
    place-items: center;
}
.btnsubmit input{
    width: 80%;
    height: 50%;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #139f4b;
    border-radius: 5px;
    color: white;
    background-color: #139f4b;
    cursor: pointer;
    transition: transform 0.4s ease;
}
.btnsubmit input:active{
    transform: scale(0.98);
    box-shadow: 0px 5px 10px 0px rgb(90, 90, 90);
}
.btnsubmit input:hover{
    box-shadow: 0px 5px 10px 0px rgb(90, 90, 90);
}

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
#LogoutMessage {
    position: absolute;
    top: 25px;
    left: 45%;
    transform: translateX(-50%);
    animation: slideInFromTop 0.5s ease-out forwards;
    z-index: 9999;
}
#LogoutMessageChild {
    width: 200px;
    height: 70px;
    background-color: #23395d;
    display: grid;
    place-items: center;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
#UpdateMessage {
    position: absolute;
    top: 25px;
    left: 37%;
    transform: translateX(-50%);
    animation: slideInFromTop 0.5s ease-out forwards;
    z-index: 9999;
}
#UpdateMessageChild {
    width: 500px;
    height: 70px;
    border: 3.5px solid #ff0000;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 4%;
    padding: 0 4%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
#logo{
    color: #ff0000;
    font-size: 35px;
}
#main-text h3{
    color: #ff0000; 
    font-weight: 600;
}
#main-text h6{
    color: gray; 
    font-weight: 500;
}

@media (max-width: 844px) {
    .Login-MainContent {
        width: 90%;
        height: 40vh;
    }
    .login-header h2{
        font-size: 15px;
        color: #033769;
    }
    #UpdateMessage {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%) !important;
        animation: slideInFromTop 0.5s ease-in-out !important;
    }
    #UpdateMessageChild {
        width: 300px !important;
        height: 60px !important;
    }
    #logo {
        font-size: 25px !important;
    }
    #main-text h3 {
        font-size: 16px !important;
    }
    #main-text h6 {
        font-size: 7px !important;
    }
}
