/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #1c202b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login-MainContent {
    width: 30%;
    height: 45vh;
    background-color: black;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 2%;
    box-shadow: 
    0 5px 10px 0 rgba(185, 185, 185, 0.5),
    5px 0 10px 0 rgba(185, 185, 185, 0.5),
    -5px 0 10px 0 rgba(185, 185, 185, 0.5);

}
.login-header{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-header h1{
    font-size: 40px;
    color: white;
}
.login-header h2{
    font-size: 23px;
    color: white;
}
.access-inputP{
    width: 100%;
    height: 70%;
}
.access-inputP form{
    width: 100%;
    height: 100%; 
}
.access-input{
    width: 100%;
    height: 65%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.access-input input{
    width: 100%;
    height: 30%;
    color: white;
    padding: 0 10px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: transparent;
}
.access-input p{
    color: white;
}
.access-input span{
    color: #00f1f7;
}
.btnsubmit{
    width: 100%;
    height: 40%;
    display: grid;
    place-items: center;
}
.btnsubmit input{
    width: 80%;
    height: 50%;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #139f4b;
    border-radius: 5px;
    color: white;
    background-color: #139f4b;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.btnsubmit input:active{
    transform: scale(0.98);
}

@media (max-width: 844px) {
    .Login-MainContent {
        width: 90%;
        height: 40vh;
    }
} */


/* Day Mode */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url('../PHP/Log-Background.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login-MainContent {
    width: 30%;
    height: 45vh;
    background-color: #ececec;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 2%;
    box-shadow: 
    0 5px 15px 0 rgba(0, 0, 0, 1)
}
.login-header{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-header h1{
    font-size: 40px;
    color: #033769;
}
.login-header h2{
    font-size: 23px;
    color: #033769;
}
.access-inputP{
    width: 100%;
    height: 70%;
}
.access-inputP form{
    width: 100%;
    height: 100%; 
}
.access-input{
    width: 100%;
    height: 65%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.access-input input{
    width: 100%;
    height: 30%;
    color: black;
    padding: 0 10px;
    border-radius: 5px;
    border: 1.5px solid black;
    background-color: transparent;
    color: black;
}
.access-input span{
    color: blue;
    font-weight: 600;
}
.btnsubmit{
    width: 100%;
    height: 40%;
    display: grid;
    place-items: center;
}
.btnsubmit input{
    width: 80%;
    height: 50%;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #139f4b;
    border-radius: 5px;
    color: white;
    background-color: #139f4b;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0px 5px 10px 0px rgb(90, 90, 90);
}
.btnsubmit input:active{
    transform: scale(0.98);
}

@media (max-width: 844px) {
    .Login-MainContent {
        width: 90%;
        height: 40vh;
    }
    .login-header h2{
        font-size: 15px;
        color: #033769;
    }
}
